body{
	margin: 0px;
	background-image: url("hex-dark.png");
}

.header {
	padding: 10px 16px;
	background: rgba(232, 235, 239, 0.3);
	font-family: 'Song Myung', serif;
	font-weight: bold;
	text-align: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .container {
  padding-top: 102px;
}



/*h1 {
	font-family: fantasy;
	color:red;
	text-shadow: 
	font-size: 3em;
	border-bottom: 2px solid red;
	border-right: 2px solid red;
	width: 400px;
	text-align: center;
	box-shadow: 4px 4px 5px #888888;
	margin-top: 10px;
}*/

img	{
	width: 450px;
	height: 300px;
	margin: 10px;
	transition: all 1s;
}

img:hover{
	transform: scale(1.1);
}
